In [1]:
import glob 
import pandas as pd 
import xml.etree.ElementTree as ET 
from datetime import datetime

In [2]:
log_file = "log_file.txt" 
target_file = "transformed_data.csv"

In [3]:
def extract_from_csv(file_name):
    df = pd.read_csv(file_name, header=None)
    return df

def extract_from_xml(file_to_process): 
    dataframe = pd.DataFrame(columns=["name", "height", "weight"]) 
    tree = ET.parse(file_to_process) 
    root = tree.getroot() 
    for person in root: 
        name = person.find("name").text 
        height = float(person.find("height").text) 
        weight = float(person.find("weight").text) 
        dataframe = pd.concat([dataframe, pd.DataFrame([{"name":name, "height":height, "weight":weight}])], ignore_index=True) 
    return dataframe 


def extract_from_txt(file_name):
    with open(file_name, 'r') as f:
        data = f.readlines()
    return data

def extract_from_json(file_to_process): 
    dataframe = pd.read_json(file_to_process, lines=True) 
    return dataframe 


def extract(): 
    extracted_data = pd.DataFrame(columns=['name','height','weight']) # create an empty data frame to hold extracted data 
     
    # process all csv files 
    for csvfile in glob.glob("*.csv"): 
        extracted_data = pd.concat([extracted_data, pd.DataFrame(extract_from_csv(csvfile))], ignore_index=True) 
         
    # process all json files 
    for jsonfile in glob.glob("*.json"): 
        extracted_data = pd.concat([extracted_data, pd.DataFrame(extract_from_json(jsonfile))], ignore_index=True) 
     
    # process all xml files 
    for xmlfile in glob.glob("*.xml"): 
        extracted_data = pd.concat([extracted_data, pd.DataFrame(extract_from_xml(xmlfile))], ignore_index=True) 
         
    return extracted_data

In [4]:
def transform(data): 
    '''Convert inches to meters and round off to two decimals 
    1 inch is 0.0254 meters '''
    data['height'] = round(data.height * 0.0254,2) 
 
    '''Convert pounds to kilograms and round off to two decimals 
    1 pound is 0.45359237 kilograms '''
    data['weight'] = round(data.weight * 0.45359237,2) 
    
    return data

In [5]:
def load_data(target_file, transformed_data): 
    transformed_data.to_csv(target_file) 
    
    
    
def log_progress(message): 
    '''Write log messages with time stamp to a file''' 
    with open(log_file, 'a+') as f: 
        f.write("{}: {}\n".format(datetime.now(), message))

In [6]:
# Log the initialization of the ETL process 
log_progress("ETL Job Started") 
 
# Log the beginning of the Extraction process 
log_progress("Extract phase Started") 
extracted_data = extract() 
 
# Log the completion of the Extraction process 
log_progress("Extract phase Ended") 
 
# Log the beginning of the Transformation process 
log_progress("Transform phase Started") 
transformed_data = transform(extracted_data) 
print("Transformed Data") 
print(transformed_data) 
 
# Log the completion of the Transformation process 
log_progress("Transform phase Ended") 
 
# Log the beginning of the Loading process 
log_progress("Load phase Started") 
load_data(target_file,transformed_data) 
 
# Log the completion of the Loading process 
log_progress("Load phase Ended") 
 
# Log the completion of the ETL process 
log_progress("ETL Job Ended")

Transformed Data
     name  height  weight      0       1       2
0     NaN     NaN     NaN   name  height  weight
1     NaN     NaN     NaN   alex   65.78  112.99
2     NaN     NaN     NaN   ajay   71.52  136.49
3     NaN     NaN     NaN  alice   69.40  153.03
4     NaN     NaN     NaN   ravi   68.22  142.34
5     NaN     NaN     NaN    joe   67.79  144.30
6     NaN     NaN     NaN   name  height  weight
7     NaN     NaN     NaN   alex   65.78  112.99
8     NaN     NaN     NaN   ajay   71.52  136.49
9     NaN     NaN     NaN  alice   69.40  153.03
10    NaN     NaN     NaN   ravi   68.22  142.34
11    NaN     NaN     NaN    joe   67.79  144.30
12    NaN     NaN     NaN   name  height  weight
13    NaN     NaN     NaN   alex   65.78  112.99
14    NaN     NaN     NaN   ajay   71.52  136.49
15    NaN     NaN     NaN  alice   69.40  153.03
16    NaN     NaN     NaN   ravi   68.22  142.34
17    NaN     NaN     NaN    joe   67.79  144.30
18   jack    1.74   55.93    NaN     NaN     NaN
19    tom    1.77   64.18    NaN     NaN     NaN
20  tracy    1.78   61.90    NaN     NaN     NaN
21   john    1.72   50.97    NaN     NaN     NaN
22   jack    1.74   55.93    NaN     NaN     NaN
23    tom    1.77   64.18    NaN     NaN     NaN
24  tracy    1.78   61.90    NaN     NaN     NaN
25   john    1.72   50.97    NaN     NaN     NaN
26   jack    1.74   55.93    NaN     NaN     NaN
27    tom    1.77   64.18    NaN     NaN     NaN
28  tracy    1.78   61.90    NaN     NaN     NaN
29   john    1.72   50.97    NaN     NaN     NaN
30  simon    1.72   50.97    NaN     NaN     NaN
31  jacob    1.70   54.73    NaN     NaN     NaN
32  cindy    1.69   57.81    NaN     NaN     NaN
33   ivan    1.72   51.77    NaN     NaN     NaN
34  simon    1.72   50.97    NaN     NaN     NaN
35  jacob    1.70   54.73    NaN     NaN     NaN
36  cindy    1.69   57.81    NaN     NaN     NaN
37   ivan    1.72   51.77    NaN     NaN     NaN
38  simon    1.72   50.97    NaN     NaN     NaN
39  jacob    1.70   54.73    NaN     NaN     NaN
40  cindy    1.69   57.81    NaN     NaN     NaN
41   ivan    1.72   51.77    NaN     NaN     NaN

C:\Users\saaag\AppData\Local\Temp\ipykernel_2092\1266167729.py:36: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  extracted_data = pd.concat([extracted_data, pd.DataFrame(extract_from_json(jsonfile))], ignore_index=True)
C:\Users\saaag\AppData\Local\Temp\ipykernel_2092\1266167729.py:13: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  dataframe = pd.concat([dataframe, pd.DataFrame([{"name":name, "height":height, "weight":weight}])], ignore_index=True)
C:\Users\saaag\AppData\Local\Temp\ipykernel_2092\1266167729.py:13: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  dataframe = pd.concat([dataframe, pd.DataFrame([{"name":name, "height":height, "weight":weight}])], ignore_index=True)
C:\Users\saaag\AppData\Local\Temp\ipykernel_2092\1266167729.py:13: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  dataframe = pd.concat([dataframe, pd.DataFrame([{"name":name, "height":height, "weight":weight}])], ignore_index=True)